services:
  api-dev:
    build:
      context: ./apps/api
    env_file:
      - ./.env.docker.api.dev
    ports:
      - "8080:8080"
    volumes:
      - /Users/eliasjunior/Downloads/Videos:/videos
    profiles:
      - dev

  api:
    build:
      context: ./apps/api
    env_file:
      - ./.env.docker.api.prod
    ports:
      - "8080:8080"
    volumes:
      - /Users/eliasjunior/Downloads/Videos:/videos
    profiles:
      - prod

  web-dev:
    build:
      context: ./apps/web
      dockerfile: Dockerfile.dev
    env_file:
      - ./.env.docker.web.dev
    ports:
      - "3000:3000"
    volumes:
      - ./apps/web:/app
      - /app/node_modules
    depends_on:
      - api-dev
    profiles:
      - dev

  web:
    build:
      context: ./apps/web
      dockerfile: Dockerfile
    env_file:
      - ./.env.docker.web.prod
    ports:
      - "3000:3000"
    depends_on:
      - api
    profiles:
      - prod
